
@font-face {
	font-family: "Nexa Demo";
	src: url("../fonts/Nexa_Demo/NexaDemo-Light.eot") format("eot");
	src: url("../fonts/Nexa_Demo/NexaTextDemo-Light.woff2") format("woff2");
	src: url("../fonts/Nexa_Demo/NexaDemo-Light.woff") format("woff");
  }

 @font-face {
	font-family: "Nexa Demo B";
	src: url("../fonts/Nexa_Demo/NexaDemo-Bold.eot") format("eot");
	src: url("../fonts/Nexa_Demo/NexaTextDemo-Bold.woff2") format("woff2");
	src: url("../fonts/Nexa_Demo/NexaDemo-Bold.woff") format("woff");
  }
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Thin.woff2") format("woff2");
	src: url("../fonts/Raleway/Raleway-Thin.woff") format("wof");
  }
body {

	background-color: #F2F4F4;
	-webkit-font-soothing: antialiased;
	-webkit-overflow-scrolling: touch;
	font-family: "Raleway";
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	--blue-bg-color: #13B1E3;
	font-weight: 400;
	color: black;
	align-items: center;
	gap: 32px;
	font-family: "Raleway";
}

.overlay {
	position: fixed;
	background-color: rgba(54, 54, 54);
	height: 100% !important;
	z-index: 80 !important;
	opacity: 0.5;
	left: 0px !important;
	top: 0px !important;
	min-width: 100vw;
}
.advantages {
	background-color:transparent;
	padding: 0!important;
}
#thermopol {
	font-family: "Nexa Demo";
	width: auto;
	position: absolute;
	margin: 0 auto;
	font-weight: 700;
	position: sticky;
	font-size: 54px;
}

a {
	font-size: 100%;
	color: black;
}

.box {
	background-color: white;
	border-radius: 32px;
	border-width: 0px;
	margin-left: 0;
	width: 100%;
	background-size: cover;
	padding: 24px;
	font-family: "Raleway";
}

.content-row .box {
	width: 50%;

}

strong {
	font-weight: 600;
	font-family: "Nexa Demo B";
}

.box p{

	background-color: transparent;
	font-size: 20px;
	line-height: 32px;
}
small{
	font-size: 16px;
}
h1{
	font-size: 56px;
}
h2{
	font-size: calc( 36px + 12 * ( 100vw / 1920 ) );
	line-height: 48px;
}

h3{
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 1em;
}
h4{

	font-size: 24px;
}



.nav {
	z-index: 100 !important;
	margin-bottom: 0;
}

go-to-app {
	align-self: center;
}

.navbar-collapse {
	margin-right: 0 !important;
}

.nav-btn {

	height: 60px !important;
	width: 60px;
	border-width: 0;
	position: relative;
	background-color: transparent !important;
	text-align: center;
	margin: 0;
	margin-right: 2em;
}

#nvb-menu {
	float: right;
	right: 0;
	background-color: white;
	border-radius: 8px;
	width: 100%;
	font-weight: 400 !important;
	color: black;
	justify-content: flex-end;
	margin-top: 10px;
	top:90%;
}


.nav-btn:hover {
	background-color: transparent !important;
}

.navbar-header,
.container-fluid {
	height: 100% !important;
	font-family: "Raleway";
}

.navbar-toggle {
	margin: 0;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	padding-left: 1em;
	margin-top: 0;

}

.nav-btn-el {
	width: 60px;
	border: 0 !important;
	margin: 0;
}

.go-to-app {
	margin-top: 1em;
	background-color: var(--blue-bg-color);
	padding: 16px 12px 16px 24px;
	height: 54px;
	width: fit-content;
	max-width: 100%;
	gap: 24px;
	border-radius: 180px;
	border-width: 0;
	color: white;
	white-space: nowrap;
	justify-content: flex-end;
	transition: all 1s;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	font-weight: 600!important;
	font-size: 18px!important;
	line-height: 21.13px;
}
.general-button {
	margin-top: 1em;
	background-color: var(--blue-bg-color);
	padding: 4px 16px 4px 16px;
	height: fit-content;
	width: fit-content;
	max-width: 100%;
	gap: 24px;
	border-radius: 64px;
	border-width: 0;
	color: white;
	white-space: nowrap;
	justify-content: flex-end;
	transition: all 1s;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self:center;
	margin: 0;
	font-weight: 600!important;
	font-size: 16px!important;
	line-height: 21.13px;
}
.go-to-app:hover {
	background-color: #94CEEC;
}
.general-button:hover {
	background-color: #94CEEC;
}
.go-to-app:active {
	background-color: #13B1E3;
}
.general-button:active {
	background-color: #13B1E3;
}
#nav-go-to-app {
	display: none;
}

#cont-go-to-app {
	display: flex;
	font-size: 0.4em;
}

.go-to-app p {
	margin: 0;
	font-weight: 600!important;
	font-size: 18px!important;
	line-height: 21.13px;
}

.go-to-app .ellipse {
	border-radius: 180px;
	height: 170%;
	width: auto;
	background-color: white;
	color: var(--blue-bg-color);
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	float: right;
}

.ellipse {
	border-radius: 200px;
	border-width: 0;
}

.ellipse-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 4px;
	justify-content: center;
}

#univlob img {
	max-width: 188px;
	height: 100%;
}

#labacad img {
	max-width: 75px;
	height: 100%;

}

#chemlog img {
	height: 48px;
	width: 127px;
}

#chemlog {
	object-fit: contain;
}

#therm-chem-cont {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
	align-items: center;
}


.logo {
	max-height: 53px;
	flex-direction: row;
	align-items: center;
	gap: 32px;
	margin-top: auto;
	display: flex;
	white-space: nowrap;
}

.info-ab-pr {
	font-size: 19px;
}

.footer {
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.index-link {
	background-color: #C1C8CB;
	height: 7px;
	width: 7px;
}

.index-link.active {
	background-color: var(--blue-bg-color);
	margin-top: 0;
}


.mob-ver-scroll {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.scrollingBlock {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	min-height: 220px;
	height: max-content;
	width: 100%;
	gap: 8px;
	padding-bottom: 0;
}

.scrollingBlock::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
}

.scrollingBlock .item {
	min-width: 230px;
	width: 80%;
	border-radius: 10px;
	background-color: white;
	margin: 0;
	padding: 16px 12px 16px 12px;
	gap: 16px;
	display: flex;
	flex-direction: column;
}

.item h4,
h5 {
	font-weight: 700;
}


.mobile-v {
	display: none;
}

.mobile-antiv {
	display: flex;
}

#formul {
	display: flex;
	float: right;
	flex-direction: row-reverse;
	width: 100%;
}
#formul img {

	float: right;;
}

.blueonblue {
	color: var(--blue-bg-color) !important;
	background-color: #DDF2FE !important;
	width: max-content;
	text-transform: uppercase;
	height: max-content;
	padding: 4px 12px 4px 12px !important;
	margin: 0%;
	align-self: flex-start;
}

.whiteongray

/*Белым по серому white on gray*/
	{
	color: white !important;
	background-color: #C1C8CB !important;
	width: max-content;
	text-transform: uppercase;
	height: max-content;
	padding: 4px 12px 4px 12px !important;
	margin: 0%;
	align-self: flex-start;
}

.blackonwhite

/*Чёрным по белому black on white*/
	{
	color: black !important;
	background-color: white !important;
	width: max-content;
	text-transform: uppercase;
	height: max-content;
	padding: 4px 12px 4px 12px !important;
	margin: 0%;
	align-self: flex-start;
}

.whiteonblue

/*Белым по синему white on blue*/
	{
	color: white !important;
	background-color: #00405D !important;
	width: max-content;
	text-transform: uppercase;
	height: max-content;
	padding: 4px 12px 4px 12px !important;
	margin: 0%;
	align-self: flex-start;
}

.content-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 24px;
	justify-content: center;
}

.textboxes {
	gap: 24px;
	align-self: flex-start;
	width: max-content;
	display: flex;
	flex-direction: row
}

.textboxes:first-child {
	margin: 24px !important;
}

bluetext {
	color: var(--blue-bg-color);
}


#page7 .box {
	gap: 32px;
}

.go-to-app br {
	display: none;
}

.accordion {
	width: 100%;
	font-family: 'Raleway';
	border-color: transparent;
	border-radius: 8px;
}

.accordion-item {
	margin-bottom: 1em;
	padding-left: 2em;
}

.accordion-item p {
	text-align: left!important;
}

.accordion-header {
	display: flex;
	border-color: transparent;
	border-radius: 8px;
	margin: 0;

}

.accordion-button {

	border-color: transparent;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-left: 0!important;

}
#page3 .item{
	gap: 14px;
}
.accordion-button.collapsed::after {
	content: url("../img/icon/plus-circle.svg");
	float: right;
	justify-self: flex-end;
	margin-left: auto;
}

.accordion-button:not(.collapsed)::after {
	content: url('../img/icon/minus-circle.svg');
	float: right;
	justify-self: flex-end;
	margin-left: auto;
}


.bold-large {
	font-weight: 700 !important;
	margin: 0;
}

h1 {
	font-weight: 700 !important;
	font-family: "Nexa Demo";
}

.onl-text-pg {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.onl-text-pg .text-cont {
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

.text-cont h4{
	width: 50%;
}

#page2 .text-cont div {
	width: 50%;
	font-size: 40px;
}

h4 {
	font-family: 'Raleway';
	margin: 0;


}

.item .box .mobile-antiv {
	display: flex;
	flex-direction: column !important;

}

#page5 p {
	font-size: 36px;
	font-family: "Raleway";
	font-weight: 500;
}

#page5 {
	padding: 10vh 10vw 10vh 10vw;
}

#left-footer-row {
	display: flex;
	justify-items: flex-start;
	flex-direction: column;
	gap: 30px;
}

.footer p {
	font-size: 19px;
}

.footer #thermopol {
	margin: 0 !important;

}

#info-row-box {
	background-color: transparent;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	gap: 8px;

}

.info-row {
	width: 100% !important;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	padding: 24px !important;
	gap: 16px;
	align-self: center;

}

.info-row p {
	font-size: 19px;
	margin-bottom: 0;

}

.img-box:after {
	content: "";
	padding-top: 70%;
	float: left;
}

p {
	margin-bottom: 0;
}

#barbarbar {
	padding-left: 0;
}
#x {

	text-align: auto;
	padding-left: 0;
}
#x img{
	max-height: 32px;
}
.nav-btn{
	padding: 0;
	object-fit: contain!important;
}

#left-footer-row{
	margin-top: auto;
}


.numder {
	color: var(--blue-bg-color);
	margin: 0 !important;
	font-weight: 700;
	font-family: "Nexa Demo B"!important;
	display: flex;
	align-items: center;
} 

#left-footer-col{
	min-height: 179px;
	display: flex;
	flex-direction: column;
	padding-top: 24px;
	height: auto;
	display: flex;
}
/*media*/

@media all and (min-width:1440px) {
	.advantages{
	background-color:transparent;
	padding: 0!important;
	}
	.numder {
		font-size: 48px!important;
	} 
	#nav-go-to-app {
		display: flex;
	}

	#cont-go-to-app {
		display: none;
	}

	#nvb-menu {
		width: auto;
		height: auto;
		display: inline-block;
		height: 54px;
		background-color: transparent;
		margin-top: 0;
	}

	.overlay {
		display: none;
	}

	body {
		padding: 24px 64px;
		font-size: 16px;
		gap: 32px;
	}

	.navbar {
		padding: 16px 24px 16px 24px;
		height: 86px;
	}

	#thermopol {
		line-height: 1;
	}

	.overlay {
		display: none;
	}

	.bold-large {
		font-family: "Raleway";
		font-size: 20px !important;
		line-height: normal;
	}

	.regular {
		font-family: "Raleway";
		font-size: 16px !important;
		line-height: normal;
		margin-bottom: 0;
	}

	.go-to-app {
		background-color: var(--blue-bg-color);
		padding: 16px 12px 16px 24px;
		height: 54px;
		width: fit-content;
		max-width: 100%;
		gap: 24px;
		border-radius: 180px;
		border-width: 0;
		color: white;
		white-space: nowrap;
		justify-content: flex-end;
		transition: all 1s;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.general-button {
		background-color: var(--blue-bg-color);
		padding: 4px 16px 4px 16px;
		height: fit-content;
		width: fit-content;
		max-width: 100%;
		gap: 24px;
		border-radius: 64px;
		border-width: 0;
		color: white;
		white-space: nowrap;
		justify-content: flex-end;
		transition: all 1s;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		font-weight: 600!important;
		font-size: 16px!important;
		line-height: 21.13px;
	}
	.go-to-app img {
		height: 100%;
	}

 
}



@media (max-width:1440px) and (min-width:768px) {

	.advantages{
		background-color:transparent;
	padding: 0!important;
		height: 100%; 
	}
	.numder {
		font-size: 48px!important;
	} 

	.box p{
		background-color: transparent;
		font-size: 20px;
		margin-bottom: 0;
	}
	small{
		font-size: calc( 10px + 10 * ( 100vw / 1450 ) );
		line-height: 12px;
	}
	p{
		font-size: calc( 12px + 10 * ( 100vw / 1450 ) );
		line-height: 20px;
	}
	
	h1{
		font-size: calc( 24px + 32 * ( 100vw / 1450 ) );
		line-height: 48px;
	}
	h2{
		font-size: calc( 20px + 16 * ( 100vw / 1450 ) );
		line-height: 36px;
	}
	
	h3{
		font-size: calc( 20px + 16 * ( 100vw / 1450 ) );
		line-height: 32px;
	}
	h4{
		font-size: calc( 12px + 12 * ( 100vw / 1450 ) );
		line-height: 30px;
	}

	#page3 .img-box::after{
		content: "";
		padding-top: 0%;
		float: left;
	}

	#page3 p{
		font-size: calc( 8px + 5 * ( 100vw / 1450 ) );
		line-height: 20px;

	}

	#page5 {
		padding: 5vh 2vw 2vh 5vw;
	}

	#nvb-menu {
		width: auto;
		max-width: 100%;
		height: auto;
		display: inline-block;
		height: 54px;
		background-color: transparent;
	}

	.overlay {
		display: none;
	}

	body {
		padding: 24px 64px;
		font-size: 16px;
	}

	.navbar {
		padding: 16px 24px 16px 24px;
		height: 86px;
	}

	#thermopol {
		line-height: 1;
		font-size: 50px;
	}

	.nav>li>a {
		margin-top: 1.2em;
		padding: 0px;
	}

	#page2 .text-cont div {
		font-size: 30px;
	}

	.go-to-app {
		padding: 8px, 16px, 8px, 24px;
		
	}
	.go-to-app p {
		margin: 0;
		font-weight: 600!important;
		font-size: 16px!important;
		line-height: 18.78px!important;
	}
	.general-button {
		margin-top: 1em;
		background-color: var(--blue-bg-color);
		padding: 4px 16px 4px 16px;
		height: fit-content;
		width: fit-content;
		max-width: 100%;
		gap: 24px;
		border-radius: 64px;
		border-width: 0;
		color: white;
		white-space: nowrap;
		justify-content: flex-end;
		transition: all 1s;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		font-weight: 600!important;
		font-size: 14px!important;
		line-height: 16px;
	}
	
	@media (max-width:950px) {
		/* .go-to-app .ellipse{
			width: 24px;
			height: 24px;
		} */
	
		.nav>li>a {
			margin-top: 1em;
			padding-left: 0px;
		}

		#nvb-menu a {
			font-size: 15px;
			padding-right: 4px;
		}

		#chemlog img {
			width: auto;
		}
		#page3 .item {
			padding: 12px;
			font-size: calc( 8px + 2 * ( 100vw / 1450 ) );
		}

	}

	@media (max-width:900px) {
		.go-to-app {
			font-size: 20px!important;
		}
		.general-button {
			margin-top: 1em;
			background-color: var(--blue-bg-color);
			padding: 4px 16px 4px 16px;
			height: fit-content;
			width: fit-content;
			max-width: 100%;
			gap: 24px;
			border-radius: 64px;
			border-width: 0;
			color: white;
			white-space: nowrap;
			justify-content: flex-end;
			transition: all 1s;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0;
			font-weight: 600!important;
			font-size: 20px!important;
			line-height: 24.13px;
		}
		#thermopol {
			font-size: 30px;
			line-height: 2;
		}

		#nvb-menu {
			max-width: 400px;
		}

		.info-row p{
			font-size: 15px;
			line-height: normal;
		}
	}

	@media (max-width:800px) {
		#page2 .text-cont div {
			font-size: 25px;
		}
		
		#chemlog {
			display: none !important;
		}
		.go-to-app p {
			font-size: 16px!important;
		}
		.general-button {
			margin-top: 1em;
			background-color: var(--blue-bg-color);
			padding: 4px 16px 4px 16px;
			height: fit-content;
			width: fit-content;
			max-width: 100%;
			gap: 24px;
			border-radius: 64px;
			border-width: 0;
			color: white;
			white-space: nowrap;
			justify-content: flex-end;
			transition: all 1s;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0;
			font-weight: 600!important;
			font-size: 16px!important;
			line-height: 21.13px;
		}
	}

	
}


@media (min-width:320px) and (max-width:768px) {

	.advantages{
		background-color:transparent;
	padding: 0!important;
		height: 100%; 
	}
	
	.numder {
		font-size: 20px!important;
	} 

	#page5 {
		padding: 8px;
	}
	small{
		font-size: calc( 10px + 10 * ( 100vw / 768 ) );
		line-height: 12px;
	}
	p{
		font-size: calc( 14px + 3 * ( 100vw / 768 ) );
	}
	h1{
	
		line-height: 48px;
	}
	h2{
		line-height: 36px;
	}
	
	h3{
		font-size: calc( 20px + 6 * ( 100vw / 768 ) );
		line-height: 36px;
	}

	h4{
		font-size: calc( 14px + 4 * ( 100vw / 768 ) );
		line-height: 22px;
	}

	#go-up img {
		height: 32px !important;
	}


	#nvb-menu {
		position: absolute;
		z-index: 100;
		min-width: auto;
		max-width: 367px;
	
	}

	.overlay {
		display: block;
	}

	body {
		padding: 24px 32px;
		--right_pad: 24px;
		gap: 24px;
	}

	.navbar {
		padding: 8px 16px 8px 16px;
		height: 64px;

	}

	

	#thermopol {
		font-size: 28px;
		line-height: 2.3;
		margin-left: 1em;
	}

	.bottom-cont-row-col {
		border-top-left-radius: 0!important;
		border-top-right-radius: 0!important;
		order: 2;
	}

	.top-cont-row-col {
		border-bottom-left-radius: 0!important;
		border-bottom-right-radius: 0!important;
		order: 1;
	}

	.content-row {
		flex-direction: column;
		gap: 0px;

	}

	.content-row .box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	.mobile-v {
		display: flex;
	}

	.mobile-antiv {
		display: none !important;
	}

	.number p{
		font-size: 24px;
	}

	.scrollingBlock .item{
		padding: 16px 16px 24px 16px;
		min-width: 230px;
		gap:8px;
	}
	
	.footer .row{
		flex-direction: column;
	}
	#page8 .text-cont{
		gap:8px;
		line-height: 16px;
	}

	@media (max-width:500px) {
		.box {
			padding: 12px;
		}
		#thermopol {
			font-size: 35px;
			line-height: 2;
			margin-left: 1em;
		}

		#formul img {
			width: 100%;
		}

		#page2 .text-cont div {
			width: 100%;
		}

		small{
			font-size: calc( 10px + 2 * ( 100vw / 500 ) );
			line-height: calc( 12 * ( 100vw / 500 ) );
		}
		p{
			font-size: calc( 12px + 4 * ( 100vw / 500 ) );
			margin-bottom: 0;
		}

		h1{
			font-size: calc( 24px + 6 * ( 100vw / 500 ) );
			line-height: 28px;
		}
		h2{
			margin-top: 0em;
			font-size: calc( 16px + 4 * ( 100vw / 500 ) );
			line-height: 28px;
		}
		
		h3{
			font-size: calc( 16px + 6* ( 100vw / 500 ) );
			line-height: 28px;
		}
			
		h4{
			font-size: calc( 12px + 4* ( 100vw / 500 ) );
			line-height: 22px;
		}
		.box p{
			font-size: calc( 12px + 4 * ( 100vw / 500 ) );
			line-height: normal;
			margin-bottom: 0;
		}
		.text-cont{
			margin-top: 1em;
			flex-direction: column!important;
			gap: 16px;
			text-align: left;
		}
		#page2 .text-cont {
			text-align: left!important;
			gap:8px;
		}
		.accordion-button{
			text-align: left!important;
		}
		.onl-text-pg{
			text-align: left;
		}

		.text-cont h4{
			width: 100%;
		}
		#formul img {
			width: 70%;
		}
		
	}

	@media (max-width:450px) {
		.go-to-app p {
			font-size: 16px!important;
		}
		.general-button {
			margin-top: 1em;
			background-color: var(--blue-bg-color);
			padding: 4px 16px 4px 16px;
			height: fit-content;
			width: fit-content;
			max-width: 100%;
			gap: 24px;
			border-radius: 64px;
			border-width: 0;
			color: white;
			white-space: nowrap;
			justify-content: flex-end;
			transition: all 1s;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0;
			font-weight: 600!important;
			font-size: 16px!important;
			line-height: 21.13px;
		}
		#page2 .text-cont div {
			font-size: 15px;
		}

		#formul img {
			width: 70%;
		}

		#thermopol {
			font-size: 23px !important;
			margin-left: 1em;
			line-height: 2;
		}

		.nav-btn {

			width: 30px;
			padding-left: 0;
			margin-right: 2em;
		}

		.nav-btn-el {
			padding-left: 0;
			width: 30px;
		}

		#ladacad img {
			max-width: 50px;
		}

		.logo {
			margin-bottom: 100px;
			margin-bottom: 1em;
		}
		#univlob img{
			width: calc(112px + 68*(100vw/768));
		}
		#labacad img{
			width: calc(45px + 30*(100vw/768));
		}

		#x {
			padding: 0;
			margin: 0;
		}

		.go-to-app br {
			display: block;
		}

		.mobile-v {
			display: flex;
		}

		.mobile-antiv {
			display: none !important;
		}

		.mobile-v {
			display: flex;
		}
		.text-cont h4{
			width: 100%!important;
		}
		.content-row{
			width: 100%;
		}
	
		#chemlog{
			width: 70%;
			object-fit: cover;
			margin-top: 0;
		}
		#chemlog img{
			margin-top: 0;
			width: auto;
		}
		


		.box {
			border-radius: 16px;
		}
	
		.content-row .box {
			padding: 12px;
		}

		#left-footer-col{
			min-height: auto;
			padding-top: 0;
		}

	}

	@media (max-width:370px) {
		#thermopol {
			margin-left: 1em;
			line-height: 3;
		}

		body {
			padding-left: 20px;
			padding-right: 20px;
		}
		.go-to-app p {
			font-size: 14px!important;
		}

		#left-footer-col{
			min-height: auto;
			padding-top: 0;
		}
	}
	
}
@media (max-width:320px) {
	.go-to-app {
		height:38px;
		padding: 8px, 16px, 8px, 24px;
		gap: 4px;
	}
	
	.go-to-app .ellipse{
		width: 22px;
		height: 22px;
	} 
	
	.advantages{
		background-color:transparent;
	padding: 0!important;
		height: 100%; 
	}

	
	.numder {
		font-size: 20px!important;
	} 

	#page8 .text-cont{
		display: flex;
		flex-direction: column;
		gap:8px;
		line-height: normal!important;
	} 

	.box p{
		font-size: calc( 10px + 2 * ( 100vw / 320 ) );
		line-height: normal;
		margin-bottom: 0;
	}

	.scrollingBlock .item{
		padding: 16px 16px 24px 16px;
		min-width: 230px;
		gap: 8px;
	}
	
	.footer .row{
		flex-direction: column;
	}
	small{
		font-size: calc( 10px + 4 * ( 100vw / 320 ) );
		line-height: 10px;
	}
	p{
		font-size: calc( 10px + 2 * ( 100vw / 320 ) );
		margin-bottom: 0;
		
	}

	h1{
		font-size: calc( 20px + 8 * ( 100vw / 320 ) );
		line-height: 28px;
	}
	h2{
		margin-top: 0em;
		font-size: calc( 12px + 4 * ( 100vw / 320 ) );
		line-height: 24px;
	}
	
	h3{
		font-size: calc( 12px + 4 * ( 100vw / 320 ) );
		line-height: 22px;
	}
		
	h4{
		font-size: calc( 10px + 2 * ( 100vw / 320 ) );
		line-height: 22px;
	}

	#page5{
		padding: 6px;
	}

	.mobile-v {
		display: flex;
	}

	.mobile-antiv {
		display: none !important;
	}

	.text-cont{
		flex-direction: column!important;
	}

	.text-cont h4{
		width: 100%!important;
	}

	.onl-text-pg{
		padding: 10px;
		text-align: left;
	}
	.accordion-button, .accordion-item{
		text-align: left;
	}

	.accordion-item{
		padding: 10px;
	}
	#page5 br {
		display: block;
	}
	#page2 .text-cont div {
		width: 100%;
		font-size: 12px;
	}

	/* Фронт писали Владимирова Юлия и Страхов Андрей  */
	.content-row {
		flex-direction: column;
		gap: 0px;

	}


	.go-to-app p {
		margin: 0;
		font-size: 14px!important;
		line-height: 17px;
	}

	.content-row .box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#nvb-menu {
		position: absolute;
		z-index: 100;
		max-width: 367px;
		margin: 0 auto;
		top:105%;
	}

	.overlay {
		display: block;
	}

	.box {
		border-radius: 10px;
	}

	body {
		--right_pad: 16px;
		padding: 16px var(--right_pad);
		gap: 24px;
	}

	.navbar {
		padding: 3px;
		height: 36px;
	}

	#thermopol {
		padding-left: 1.2em;
		font-size: 20px !important;
		line-height: 3;
	}

	.logo {
		margin-bottom: 100px;
		gap: 8px;
	}
	
	#univlob img{
		width: calc(80px + 48*(100vw/320));
	}
	#labacad img{
		width: calc(35px + 20*(100vw/320));
	}

	#chemlog img {
		height: 100%;
		width: 100%;
		margin-right: 10px;
	}

	#chemlog {
		margin-top: 5px;
	}

	.img-box {

		margin: auto;
		overflow: hidden;
	}

	.onl-text-pg strong>br {
		display: none;
	}


	#formul img {
		width: 100%;
	}

	@media (max-width:270px) {
		.nav-btn {
			width: 30px;
			padding-left: 0;
		}

		.nav-btn-el {
			padding-left: 0;
			width: 30px;
		}

		#x {
			padding: 0;
			margin: 0;
		}

		.go-to-app br {
			display: block;
		}
		.go-to-app p {
			margin: 0;
			font-size: 10px!important;
			line-height: 15px;
		}
		.go-to-app p {
			font-size: 11px!important;
		}
	
	}

	#go-to-app {
		align-items: center;
		height: auto;
		margin: 5em 0 0.5em 0;

		gap: 3px;
	}

	#go-to-app p {
		margin-bottom: 0;
	}

	.bottom-cont-row-col {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		order: 2;

	}

	.top-cont-row-col {
		border-bottom-left-radius: 0!important;
		border-bottom-right-radius: 0!important;
		order: 1;
	}

	.top-cont-row-col {
		border-bottom-left-radius: 0!important;
		border-bottom-right-radius: 0!important;
		order: 1;

	}
	
}