.col-12{
    overflow-x: scroll;
     max-width:100%important;
    }

td{
width: fit-content;
}

.form-select, .pagination, label, input{
    font-size: var(--fonts3)!important;
}

.mt-2{
    gap:1em;
}

.box{
    padding: 2em;
}
#search_table_wrapper{
    padding: 2em;
}

