{% extends "base.html" %}
{% load static %}
  {% block title %}Форма ввода данных{% endblock %}

 {% block head_l %}
  <link rel="stylesheet" href="{% static 'mycss/appendSub.css' %}">
  <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
  <script src="https://jsuites.net/v4/jsuites.js"></script>

  <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

  <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />

  <script src="{% static 'myscr/appendSub.js' %}"></script>
 {% endblock %}


{% block header_mcont %}
<a id="search-btn" style=" margin-left: 20px!important;text-decoration:underline ; color:black; font-size: var(--fonts3);display:flex; flex-direction:row;align-items:center" href="https://thermopol.lad-academy.ru/stream">
Поиск
<img src="https://img.icons8.com/?size=100&id=59878&format=png&color=000000" style="height: var(--fonts3); margin-left:5px;">
</a>
{% endblock %}


    <!-- SUBSTANCE -->
{% block content %}
<div class="box" style="display:flex; flex-direction:column; align-items:center; padding:0!important">
  <div class="container">
    <h2>Информация о веществе</h2>
    <div class="form-group">
      <label for="substanceName">Название вещества</label>
      <input type="text" id="substanceName" name="substanceName">
    </div>
    <div class="form-group">
      <label for="casNumber">CAS номер</label>
      <input type="text" id="casNumber" name="casNumber">
    </div>
    <div class="form-group">
      <label for="formula">Формула</label>
      <input type="text" id="formula" name="formula">
    </div>
    <div class="form-group">
      <label for="class">Класс</label>
      <select id="class" name="class">
        {% for class in classes %}
        <option value="{{ class.name }}">{{ class.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="type">Тип</label>
      <select id="type" name="type">
        {% for type in types %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
    <!-- LITERATURE == ARTICLE -->
  <div class="container">
    <h2>Литература</h2>
    <div class="form-group">
      <label for="articleName">Название статьи</label>
      <input type="text" id="articleName" name="articleName">
    </div>
    <div class="form-group">
      <label for="articleLink">Ссылка</label>
      <input type="text" id="articleLink" name="articleLink">
    </div>
    <div class="form-group">
      <label for="doiNumber">DOI номер</label>
      <input type="text" id="doiNumber" name="doiNumber">
    </div>
    <div class="buttons">
      <button type="button" onclick="addArticle()">Добавить</button>
    </div>
    <div class="list-box">
      <ul id="articleList"></ul>
    </div>
  </div>
    <!-- STATES -->
  <div class="container" style="display:flex; flex-direction: column; gap:0.35em">
    <h2>Агрегатные состояния</h2>
    <div class="form-group">
      <label for="stateName">Название агрегатного состояния</label>
      <select id="stateName" name="stateName">
        {% for state in states %}
        <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="stateNumber">Номер агрегатного состояния</label>
      <select id="stateNumber" name="stateNumber">
        {% for state_namber in state_nambers %}
        <option value="{{ state_namber }}">{{ state_namber }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="number" id="degree_of_crystallinity" placeholder="Степень кристалличности">
    </div>
    <div class="form-group">
      <input type="number" id="enthalpy_of_combustion" placeholder="Энтальпия сгорания">
    </div>
    <div class="form-group">
      <input type="number" id="enthalpy_of_combustion_err" placeholder="Ошибка энтальпии сгорания">
    </div>
    <div class="form-group">
      <input type="number" id="enthalpy_of_formation" placeholder="Энтальпия образования">
    </div>
    <div class="form-group">
      <input type="number" id="enthalpy_of_formation_err" placeholder="Ошибка энтальпии образования">
    </div>
    <div class="form-group">
      <input type="number" id="entropy_of_formation" placeholder="Энтропия образования">
    </div>
    <div class="form-group">
      <input type="number" id="entropy_of_formation_err" placeholder="Ошибка энтропии образования">
    </div>
    <div class="form-group">
      <input type="number" id="gibbs_energy_of_formation" placeholder="Энергия Гиббса образования">
    </div>
    <div class="form-group">
      <input type="number" id="gibbs_energy_of_formation_err" placeholder="Ошибка энергии Гиббса образования">
    </div>
    <div class="form-group">
      <input type="number" id="lnK" placeholder="lnK">
    </div>
    <div class="form-group">
      <input type="number" id="residual_entropy_at_0_k" placeholder="Остаточная энтропия при 0 K">
    </div>
    <div class="form-group">
      <input type="number" id="residual_entropy_at_0_k_err" placeholder="Ошибка остаточной энтропии при 0 K">
    </div>
    <div class="form-group">
      <input type="number" id="configurational_entropy" placeholder="Конфигурационная энтропия">
    </div>
    <div class="form-group">
      <input type="number" id="configurational_entropy_err" placeholder="Ошибка конфигурационной энтропии">
    </div>
    <div class="form-group">
      <input type="number" id="difference_of_zero" placeholder="Разница от нуля">
    </div>
    <div class="form-group">
      <input type="number" id="difference_of_zero_err" placeholder="Ошибка разницы от нуля">
    </div>
    <div class="buttons">
      <button type="button" onclick="addState()">Добавить</button>
    </div>
    <div class="list-box">
      <ul id="stateList"></ul>
    </div>
    <div class="table-container">
      <h2>Таблица данных</h2>
      <div id="spreadsheet"></div>
      <p>нажмите на таблицу для прокрутки</p>
        <button id="sendTableButton" onclick="exportColumnsToServer()">Отправить на обсчет</button>
    </div>
  </div>
    <!-- TRANSITIONS -->
  <div class="container">
    <h2>Фазовые переходы</h2>
    <div class="form-group">
      <label for="phase-transitions">Фазовые переходы:</label>
      <label for="source_phase">Исходная фаза</label>
      <select id="source_phase" name="source_phase">
        {% for state in states %}
        <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
      </select>
      <label for="target_phase">Конечная фаза</label>
      <select id="target_phase" name="target_phase">
        {% for state in states %}
        <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
      </select>
      <div style="display:flex; flex-direction: column; gap:0.35em">

      <label for="source_phase_number">Номер исходной фазы</label>
      <select id="source_phase_number" name="source_phase_number">
        {% for state_namber in state_nambers %}
        <option value="{{ state_namber }}">{{ state_namber }}</option>
        {% endfor %}
      </select>
      <label for="target_phase_number">Номер конечной фазы</label>
      <select id="target_phase_number" name="target_phase_number">
        {% for state_namber in state_nambers %}
        <option value="{{ state_namber }}">{{ state_namber }}</option>
        {% endfor %}
      </select>
        <input type="number" id="temperature" placeholder="Температура" />
        <input type="number" id="temperature_err" placeholder="Ошибка температуры" />
        <input type="number" id="enthalpy_transition" placeholder="Энтальпия перехода" />
        <input type="number" id="enthalpy_transition_err" placeholder="Ошибка энтальпии перехода" />
        <input type="number" id="entropy_transition" placeholder="Энтропия перехода" />
        <input type="number" id="entropy_transition_err" placeholder="Ошибка энтропии перехода" />
        <input type="number" id="jump_heat_capacity" placeholder="Скок теплоемкости" />
        <input type="number" id="start_temperature" placeholder="Начальная температура" />
        <input type="number" id="end_temperature" placeholder="Конечная температура" />
      </div>
    </div>
    <div class="buttons">
      <button type="button" onclick="addTransition()">Добавить</button>
    </div>
    <div class="list-box">
      <ul id="transitionList"></ul>
    </div>
  </div>
    <!-- EXTRAPOLATION -->
  <div class="container">
    <h2>Экстраполяция</h2>
    <div class="form-group">
      <label for="x">x:</label>
      <input type="text" id="x" name="x">
    </div>
    <div class="form-group">
      <label for="a">a:</label>
      <input type="text" id="a" name="a">
    </div>
    <div class="form-group">
      <label for="error_percentage">Процент ошибки:</label>
      <input type="text" id="error_percentage" name="error_percentage">
    </div>
    <div class="buttons">
      <button type="button" onclick="calculateExtrapolation()">Расчет ошибки экстраполяции в 0 K по степенной функции</button>
      <button type="button" onclick="exportTableToServer()">Расчет экстраполяции в 0 K по степенной функции<</button>
    </div>
  </div>
  <div class="buttons">
    <button type="button" onclick="sendData()">Отправить данные в Базу данных</button>
  </div>




</div>


    <script>
        // Инициализируем таблицу jExcel
var data = [
    ['Заголовок 1', 'Заголовок 2', 'Заголовок 3', 'Заголовок 4', 'Заголовок 5'],
    ['', '', '', '', '']
];
var spreadsheet = jexcel(document.getElementById('spreadsheet'), {
    data: data,
    columns: [{
        title: 'T',
        width: 150
    }, {
        title: 'Cp',
        width: 150
    }, {
        title: 'H',
        width: 150
    }, {
        title: 'S',
        width: 150
    }, {
        title: 'G',
        width: 150
    }],
    allowInsertColumn: false, // Запрещаем добавление колонок
    allowManualInsertRow: true // Разрешаем ручное добавление строк
});
// Функция для экспорта данных в консоль
function exportToConsole() {
    var tableData = spreadsheet.getData();
    console.log('Данные из таблицы:');
    console.table(tableData);
}

function exportColumnsToServer() {
    var column1Data = [];
    var column2Data = [];
    // Получаем данные из таблицы
    var tableData = spreadsheet.getData();
    // Извлекаем данные из первых двух колонок
    for (var i = 0; i < tableData.length; i++) {
        column1Data.push(tableData[i][0]); // Первая колонка
        column2Data.push(tableData[i][1]); // Вторая колонка
    }
    // Формируем объект для отправки на сервер
    var dataToSend = {
        column1: column1Data,
        column2: column2Data
    };
    // Отправляем данные на сервер с помощью fetch
    fetch('functionСalculation/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        console.log('Ответ сервера:', data);
        // Обновляем таблицу с полученными данными
        updateColumnsWithData(data);
    }).catch(error => {
        console.error('Произошла ошибка при отправке данных:', error);
    });
}
// Функция для обновления таблицы с полученными данными
function updateColumnsWithData(data) {
    var column3Data = data.column3;
    var column4Data = data.column4;
    var column5Data = data.column5;
    // Проверяем, что данные из сервера имеют такую же длину, как и текущие данные таблицы
    if (column3Data.length === spreadsheet.rows.length && column4Data.length === spreadsheet.rows.length && column5Data.length === spreadsheet.rows.length) {
        // Записываем данные в таблицу
        for (var i = 0; i < column3Data.length; i++) {
            spreadsheet.setValueFromCoords(2, i, column3Data[i]); // Колонка 3
            spreadsheet.setValueFromCoords(3, i, column4Data[i]); // Колонка 4
            spreadsheet.setValueFromCoords(4, i, column5Data[i]); // Колонка 5
        }
        console.log('Таблица успешно обновлена.');
    } else {
        console.error('Ошибка: размеры полученных данных не соответствуют таблице.');
    }
}

function exportTableToServer() {
    // Получаем данные из всех колонок таблицы
    var tableData = spreadsheet.getData();
    // Разделяем данные по колонкам
    var column1Data = [];
    var column2Data = [];
    var column3Data = [];
    var column4Data = [];
    var column5Data = [];
    for (var i = 0; i < tableData.length; i++) {
        column1Data.push(tableData[i][0]); // Колонка 1
        column2Data.push(tableData[i][1]); // Колонка 2
        column3Data.push(tableData[i][2]); // Колонка 3
        column4Data.push(tableData[i][3]); // Колонка 4
        column5Data.push(tableData[i][4]); // Колонка 5
    }
    // Формируем объект для отправки на сервер
    var dataToSend = {
        column1: column1Data,
        column2: column2Data,
        column3: column3Data,
        column4: column4Data,
        column5: column5Data,
        a: document.getElementById('a').value,
        x: document.getElementById('x').value
    };
    // Отправляем данные на сервер с помощью fetch
    fetch('Extrapolation/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        console.log('Ответ сервера:', data);
        // Обновляем таблицу с полученными данными
        updateTableWithData(data);
    }).catch(error => {
        console.error('Произошла ошибка при отправке данных:', error);
    });
}
// Функция для обновления таблицы с полученными данными
function updateTableWithData(data) {
    var column1Data = data.column1;
    var column2Data = data.column2;
    var column3Data = data.column3;
    var column4Data = data.column4;
    var column5Data = data.column5;
    document.getElementById('error_percentage').value = data.Error;
    // Проверяем, что данные из сервера имеют достаточно большой размер
    if (column1Data.length === column2Data.length && column2Data.length === column3Data.length && column3Data.length === column4Data.length && column4Data.length === column5Data.length) {
        // Определяем текущее количество строк в таблице
        var rowCount = spreadsheet.rows.length;
        // Удаляем все строки, кроме заголовка
        for (var i = rowCount - 1; i > 0; i--) {
            spreadsheet.deleteRow(i);
        }
        // Вставляем новые строки с обновленными данными
        for (var j = 0; j < column1Data.length; j++) {
            spreadsheet.insertRow([column1Data[j], column2Data[j], column3Data[j], column4Data[j], column5Data[j]]);
        }
        console.log('Таблица успешно обновлена.');
    } else {
        console.error('Ошибка: размеры полученных данных не соответствуют ожидаемым.');
    }
}

function calculateExtrapolation() {
    // Получаем данные из всех колонок таблицы
    var tableData = spreadsheet.getData();
    // Разделяем данные по колонкам
    var column1Data = [];
    var column2Data = [];
    var column3Data = [];
    var column4Data = [];
    var column5Data = [];
    for (var i = 0; i < tableData.length; i++) {
        column1Data.push(tableData[i][0]); // Колонка 1
        column2Data.push(tableData[i][1]); // Колонка 2
        column3Data.push(tableData[i][2]); // Колонка 3
        column4Data.push(tableData[i][3]); // Колонка 4
        column5Data.push(tableData[i][4]); // Колонка 5
    }
    // Формируем объект для отправки на сервер
    var dataToSend = {
        column1: column1Data,
        column2: column2Data,
        column3: column3Data,
        column4: column4Data,
        column5: column5Data,
        a: document.getElementById('a').value,
        x: document.getElementById('x').value
    };
    // Отправляем данные на сервер с помощью fetch
    fetch('ExtrapolationError/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        console.log('Ответ сервера:', data);
        // Обновляем таблицу с полученными данными
        updateError(data);
    }).catch(error => {
        console.error('Произошла ошибка при отправке данных:', error);
    });
}

function updateError(data) {
    document.getElementById('error_percentage').value = data.Error;
}
    </script>

{% endblock %}



<!--
    ПРОБЛЕМЫ И ЗАДАЧИ:

    1) Решить проблему с добавлением элементов в глобальные переменные в каждом блоке(в блоке с Литературой есть шлобальная переменная literatureData,
            которая хранит в себе всю информацию о литературе и изменяется как и listbox, надо сделать по аналогии в блоках с состояниями и переходами)
    2) Написать скрипт для формирования из глобальных переменных запроса на сервер на его API, пример запроса дан, там все поля есть(вроде), имена полей в запрос
            НЕ МЕНЯТЬ(ну, менять то можно, я буду только рад, а то у меня простоянно разные стили кода проскакивают(извиняюсь), но вы скажите что поменяли чтобы мне на беке это тоже поменять)
    3) Нужно написать скрипт ограничивающий расширение таблицы по столбцам, чтобы при вставке туда данных она не расширялась в ширину, а вообще можно сделать вставку только в левый верхний угол
    4) Нужно сделать преобразование таблицы в списки по столбцам(именно так их принимает сервер), чтобы потом было легко отправлять в пункте 2.
    5) В разные файлы не разнес html код и скрипты потому как даже если они в одной папке хранились django не подгружал их во время показа страницы, пофиксить быстро не получилось, СОРРИ ;(
    6) Если запустить проект то видно в логах браузера GET запрос на http://127.0.0.1:8000/favicon.ico, притом с ошибкой, надо бы понять что это и почему
    7) Надо подключить красивые стили в стилистике всего сайта

P.S. УДАЧИ, ДРУЗЬЯ, Я В ВАС ВЕРЮ ;)
-->

