{% extends "admin/base.html" %}

{% block title %} Добавить новое соединение {% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Thermopol') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}"> Админка </a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
{% endblock %}