{% extends "base.html" %}
{% block title %} Thermopol {% endblock %}
{% load static %}
 {% block head_l %}
<link rel="stylesheet" href="{% static 'mycss/login.css' %}">
 <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div style="width:100%; display:flex; flex-direction:column;align-items:center">
<div class="box log-box">
    <h2 style="margin-top: 0; ">Вход</h2>
    <form method="post"
          class="form-outline"
            data-mdb-input-init
    >
        {% csrf_token %}
        <div data-mdb-input-init class="form-outline mb-4">

            <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                   maxlength="150" required="" id="id_username" autocompleted="">
            <label class="form-label" for="id_username">Имя пользователя:</label>


        </div>

        <div data-mdb-input-init class="form-outline mb-4">

            <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password"
                   autocompleted="">
            <label class="form-label" for="id_password">Пароль:</label>

        </div>
        <br>
        <button class="general-button base-btn log-b"  type="submit">ВОЙТИ</button>
    </form>
</div>
</div>
{% endblock %}